<%= form_for(@workout_entry) do |f| %>
  <% if @workout_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workout_entry.errors.count, "error") %> prohibited this workout_entry from being saved:</h2>

      <ul>
      <% @workout_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
