 <div data-role="view" id="tabstrip-profile" data-title="Profile" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            <ul>
                <li><h2>Dimitry <span>Ushakov</span></h2><img src="me.jpg" /></li>
                <li>Next Contest <span class="date">Strongman meet - 10-06-2012</span></li>
                <!-- <li>Monthly average sales <span class="sales-up">$ 32,000</span></li> -->
            </ul>
        </li>
        <li>
            Current Statistics
            <ul>
				<!-- set statistics to equal the ones for goals.  
					If cs > goal OR (cs + (# of months off contest * .05)) > goal THEN green
					If (cs + (# of months off contest * 15)) > goal THEN yellow
					ELSE red
				-->
                <li>Bench Press <span class="value value-behind">215x2</span></li>
                <li>Push Press <span class="value value-onsched">160x4</span></li>
                <li>Deadlift <span class="value value-warning">270x4</span></li>
                <li>Squat <span class="value value-behind">215x2</span></li>
            </ul>
        </li>
        <li>
            Goals
            <ul>
                <li>Bench Press <span class="value">225x20</span></li>
                <li>Push Press <span class="value">205x5</span></li>
                <li>Deadlift <span class="value">495x5</span></li>
                <li>Squat <span class="value">315x15</span></li>
            </ul>
        </li>
    </ul>
</div>

<div data-role="view" id="tabstrip-calendar" data-title="Sales History" data-layout="mobile-tabstrip">
	<p>calendar here</p>
    <!-- <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Sales 2011
            <ul>
                <li>January <span class="sales-up">&uarr; $ 35,000</span></li>
                <li>February <span class="sales-down">&darr; $ 25,000</span></li>
                <li>March <span class="sales-down">&darr; $ 23,000</span></li>
                <li>April <span class="sales-up">&uarr; $ 30,000</span></li>
                <li>May <span class="sales-up">&uarr; $ 31,000</span></li>
                <li>June <span class="sales-down">&darr; $ 29,000</span></li>
                <li>July <span class="sales-up">&uarr; $ 35,000</span></li>
                <li>August <span class="sales-up">&uarr; $ 37,000</span></li>
                <li>September <span class="sales-hold">&rarr; $ 37,000</span></li>
                <li>October <span class="sales-hold">&rarr; $ 37,000</span></li>
                <li>November <span class="sales-up">&uarr; $ 38,000</span></li>
                <li>December <span class="sales-up">&uarr; $ 40,000</span></li>
            </ul>
        </li>
    </ul> -->
</div>

<div data-role="view" id="tabstrip-contests" data-title="Rating" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            List of contests.  Insets will have date, details of the contest, and which lifts I have to get
            <ul>
                <li data-icon="toprated"><a href="#contest-details">Strongman Contest</a></li>
                <li data-icon="toprated">2. Janet Leverling</li>
                <li data-icon="toprated" style="background-color: #3589e7; color: #fff;">3. Carine Callahan</li>
                <li data-icon="toprated">4. Margaret Johnson</li>
                <li data-icon="toprated">5. Steve Collins</li>
                <li data-icon="toprated">6. Maria Steward</li>
            </ul>
        </li>
    </ul>
</div>

<div data-role="view" id="tabstrip-blog" data-title="Settings" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            My blog is here.  Enter posts with sorting by date
            <ul>
                <li>Notify when online <input type="checkbox" data-role="switch" checked></li>
                <li>Administrator <input type="checkbox" data-role="switch"></li>
                <li>Access to stats <input type="checkbox" data-role="switch" checked></li>
            </ul>
        </li>
    </ul>
</div>

<div data-role="view" id="tabstrip-admin" data-title="Add Blog" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li> Enter blog post here
			<ul>
				<li><label for="blog-title">Title:</label><input type="text" id="blog-title" value="Title" class="k-admin"/></li>
				<li>
					<label for="blog-type">Type:</label>
					<select id="blog-type" class="k-admin">
						<option value="diet">Diet</option>
						<option value="training">Training</option>
					</select>
				</li>
				<li>
					<label for="blog-content">Content:</label>
					<textarea id="blog-content" rows="4" cols="60" class="k-admin">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
				</li>
				<li>
					<a data-icon="add" data-role="button">Submit</a>
				</li>
			</ul>
		</li>
	</ul>
</div>

<div data-role="view" id="contest-details" data-title="Contest Name Here" data-layout="mobile-tabstrip">
	<h3>Date</h3>
	<p>Details here</p>
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Lifts
            <ul>
                <li>Notify when online <input type="checkbox" data-role="switch" checked></li>
                <li>Administrator <input type="checkbox" data-role="switch"></li>
                <li>Access to stats <input type="checkbox" data-role="switch" checked></li>
            </ul>
        </li>
    </ul>	
</div>

<div data-role="layout" data-id="mobile-tabstrip">
    <header data-role="header">
        <div data-role="navbar">
            <!--<a class="nav-button" data-align="left" data-role="backbutton">Back</a>-->
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#tabstrip-profile">Profile</a>
        </div>
    </header>

    <p>TabStrip</p>

    <div data-role="footer">
        <div data-role="tabstrip">
            <a href="#tabstrip-profile" data-icon="contacts">Profile</a>
            <a href="#tabstrip-calendar" data-icon="bookmarks">Calendar</a>
            <a href="#tabstrip-contests" data-icon="about">Contests</a>
            <a href="#tabstrip-blog" data-icon="favorites">Blog</a>
			<a href="#tabstrip-reports" data-icon="organize">Reports</a>
			<a href="#tabstrip-admin" data-icon="settings">Admin</a>
        </div>
    </div>
</div>

<style scoped>
	.k-admin{border: 1px solid #000 !important; float:left; position: relative !important; margin: 1px !important; background-color: #fff !important;}
	#tabstrip-admin label {
		float:left;
		width: 150px;
	}
    #tabstrip-profile h2 {
        display: inline-block;
        font-size: 1.1em;
        margin: 1.5em 0 0 1em;
    }
    #tabstrip-profile h2 span {
        display: block;
        clear: both;
        font-size: 2em;
        margin: .2em 0 0 0;
    }
    #tabstrip-profile img {
        width: 5em;
        height: 5em;
        float: left;
        margin: 1em;
        -webkit-box-shadow: 0 1px 3px #333;
        box-shadow: 0 1px 3px #333;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
	.date,
    .sales-down,
    .sales-hold,
    .sales-up,
    .value {
        float: right;
    }
    .sales-up { color: green; }
    .sales-down { color: red; }
    .sales-hold { color: blue; }
    .value-behind { color: red; }
	.value-warning { color: orange; }
	.value-onsched { color: green; }
	
</style>


