 <div data-role="view" id="tabstrip-profile" data-title="Profile" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            <ul>
                <li><h2>Dimitry <span>Ushakov</span></h2><img src="me.jpg" /></li>
                <li>Next Contest <span class="date">Strongman meet - 10-06-2012</span></li>
                <!-- <li>Monthly average sales <span class="sales-up">$ 32,000</span></li> -->
            </ul>
        </li>
        <li>
            Current Statistics
            <ul>
				<!-- set statistics to equal the ones for goals.  
					If cs > goal OR (cs + (# of months off contest * .05)) > goal THEN green
					If (cs + (# of months off contest * 15)) > goal THEN yellow
					ELSE red
				-->
                <li>Bench Press <span class="value value-behind">215x2</span></li>
                <li>Push Press <span class="value value-onsched">160x4</span></li>
                <li>Deadlift <span class="value value-warning">270x4</span></li>
                <li>Squat <span class="value value-behind">215x2</span></li>
            </ul>
        </li>
        <li>
            Goals
            <ul>
                <li>Bench Press <span class="value">225x20</span></li>
                <li>Push Press <span class="value">205x5</span></li>
                <li>Deadlift <span class="value">495x5</span></li>
                <li>Squat <span class="value">315x15</span></li>
            </ul>
        </li>
    </ul>
</div>

<div data-role="view" id="tabstrip-calendar" data-title="Sales History" data-layout="mobile-tabstrip">
	<p>calendar here</p>
    <!-- <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Sales 2011
            <ul>
                <li>January <span class="sales-up">&uarr; $ 35,000</span></li>
                <li>February <span class="sales-down">&darr; $ 25,000</span></li>
                <li>March <span class="sales-down">&darr; $ 23,000</span></li>
                <li>April <span class="sales-up">&uarr; $ 30,000</span></li>
                <li>May <span class="sales-up">&uarr; $ 31,000</span></li>
                <li>June <span class="sales-down">&darr; $ 29,000</span></li>
                <li>July <span class="sales-up">&uarr; $ 35,000</span></li>
                <li>August <span class="sales-up">&uarr; $ 37,000</span></li>
                <li>September <span class="sales-hold">&rarr; $ 37,000</span></li>
                <li>October <span class="sales-hold">&rarr; $ 37,000</span></li>
                <li>November <span class="sales-up">&uarr; $ 38,000</span></li>
                <li>December <span class="sales-up">&uarr; $ 40,000</span></li>
            </ul>
        </li>
    </ul> -->
</div>

<div data-role="view" id="tabstrip-contests" data-title="Rating" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            List of contests.  Insets will have date, details of the contest, and which lifts I have to get
            <ul>
                <li data-icon="toprated"><a href="#contest-details">Strongman Contest</a></li>
                <li data-icon="toprated">2. Janet Leverling</li>
                <li data-icon="toprated" style="background-color: #3589e7; color: #fff;">3. Carine Callahan</li>
                <li data-icon="toprated">4. Margaret Johnson</li>
                <li data-icon="toprated">5. Steve Collins</li>
                <li data-icon="toprated">6. Maria Steward</li>
            </ul>
        </li>
    </ul>
</div>

<div data-role="view" id="tabstrip-blog" data-title="Settings" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            My blog is here.  Enter posts with sorting by date
            <ul data-bind="foreach: BlogNamespace.blogEntries">
                <li>
					<label class="blog-title" for="blog-title" data-bind="text: title"></label>
					<div class="blog-content">
						<div data-bind="text: content"></div>	
						<div  class="blog-updated">
							<label for="blog-updated">Updated on </label><span data-bind="text: updated_at"></span>
						</div>
					</div>
				</li>
            </ul>
        </li>
    </ul>
</div>

<div data-role="view" id="tabstrip-admin" data-title="Add Blog" data-layout="mobile-tabstrip">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li> Enter blog post here
			<ul>
				<li class="errors" data-bind="foreach: BlogNamespace.errorMessage"><label data-bind="text: prop"></label> <span data-bind="text: errors"></span><br/></li>
				<li class="success"><span data-bind="text: BlogNamespace.successMessage"></span></li>
				<li><label for="blog-title">Title:</label><input type="text" id="blog-title"  data-bind="value: BlogNamespace.blog.Title" class="k-admin"/></li>
				<li>
					<label for="blog-type">Type:</label>
					<select id="blog-type" class="k-admin" data-bind="options: BlogNamespace.availableTypes, value: BlogNamespace.blog.PostType">
					</select>
				</li>
				<li>
					<label for="blog-content">Content:</label>
					<textarea id="blog-content" rows="4" cols="60" class="k-admin"  data-bind="value: BlogNamespace.blog.Content"></textarea>
				</li>
				<li>
					<a data-icon="add" data-role="button" data-bind="click: BlogNamespace.addBlog">Submit</a>
				</li>
			</ul>
		</li>
	</ul>
</div>

<div data-role="view" id="contest-details" data-title="Contest Name Here" data-layout="mobile-tabstrip">
	<h3>Date</h3>
	<p>Details here</p>
    <ul data-role="listview" data-style="inset" data-type="group">
        <li>
            Lifts
            <ul>
                <li>Notify when online <input type="checkbox" data-role="switch" checked></li>
                <li>Administrator <input type="checkbox" data-role="switch"></li>
                <li>Access to stats <input type="checkbox" data-role="switch" checked></li>
            </ul>
        </li>
    </ul>	
</div>

<div data-role="layout" data-id="mobile-tabstrip">
    <header data-role="header">
        <div data-role="navbar">
            <!--<a class="nav-button" data-align="left" data-role="backbutton">Back</a>-->
            <span data-role="view-title"></span>
            <a data-align="right" data-role="button" class="nav-button" href="#tabstrip-profile">Profile</a>
        </div>
    </header>

    <p>TabStrip</p>

    <div data-role="footer">
        <div data-role="tabstrip" id="tabstrip">
            <a href="#tabstrip-profile" data-icon="contacts">Profile</a>
            <a href="#tabstrip-calendar" data-icon="bookmarks">Calendar</a>
            <a href="#tabstrip-contests" data-icon="about">Contests</a>
            <a href="#tabstrip-blog" data-icon="favorites" data-bind="click: BlogNamespace.viewBlogs">Blog</a>
			<a href="#tabstrip-reports" data-icon="organize">Reports</a>
			<a href="#tabstrip-admin" data-icon="settings">Admin</a>
        </div>
    </div>
</div>

<style scoped>
	.errors, .success {
		font-size: 0.9em !important;
	}
	.success {
		color:green !important;
	}
	.errors {
		color:red !important;
	}
	
	.blog-content{
		padding: 5px;
		font-weight: normal;
	}

	.blog-updated{
		font-size: 0.6em;
	}
	
	.k-admin{border: 1px solid #000 !important; float:left; position: relative !important; margin: 1px !important; background-color: #fff !important;}
	#tabstrip-admin label {
		float:left;
		width: 150px;
	}
    #tabstrip-profile h2 {
        display: inline-block;
        font-size: 1.1em;
        margin: 1.5em 0 0 1em;
    }
    #tabstrip-profile h2 span {
        display: block;
        clear: both;
        font-size: 2em;
        margin: .2em 0 0 0;
    }
    #tabstrip-profile img {
        width: 5em;
        height: 5em;
        float: left;
        margin: 1em;
        -webkit-box-shadow: 0 1px 3px #333;
        box-shadow: 0 1px 3px #333;
        -webkit-border-radius: 8px;
        border-radius: 8px;
    }
	.date,
    .sales-down,
    .sales-hold,
    .sales-up,
    .value {
        float: right;
    }
    .sales-up { color: green; }
    .sales-down { color: red; }
    .sales-hold { color: blue; }
    .value-behind { color: red; }
	.value-warning { color: orange; }
	.value-onsched { color: green; }
	
</style>

<% content_for :js do %>
<%= javascript_include_tag "/assets/knockout.2.0.0" %>
<script>
	$(function(){
    var app = new kendo.mobile.Application(document.body);
	});
	
	var BlogNamespace = {
	Blog: function(){
		var self = this;
		self.blog = {
			Title: ko.observable(),
			Content: ko.observable(),
			PostType: ko.observable()
		};
		self.loggedInUser = ko.observable();
		self.errorMessage = ko.observableArray([]);
		self.blogEntries = ko.observableArray([]);
		self.successMessage = ko.observable();

		self.availableTypes = ko.observableArray(['diet','training']);

		self.newBlog = function(){
			console.log('hi');
			self.blog.Title('');
			self.blog.Content('');
			self.blog.PostType('');
			return true;
		};
		
		self.addBlog = function(){
			self.errorMessage.splice(0,self.errorMessage().length);
			self.successMessage('');
			$.ajax('posts.json', {
				data: ko.toJSON({ title: self.blog.Title(), content: self.blog.Content(), post_type: self.blog.PostType() }),
				type: 'post', contentType: 'application/json',
				success: function(result){
					console.log(result);
					if(result.id && result.id > 0){
						self.successMessage('Successfully added this blog on ' + result.created_at);
						self.blog.Title('');
						self.blog.Content('');
						self.blog.PostType('');
						self.blogEntries.push({
							title: result.title,
							content: result.content,
							updated_at: result.updated_at,
							id: result.id
						});
						self.blogEntries.reverse();
					}
				},
				error: function(returnedObject,t2,t3){
					var error = JSON.parse(returnedObject.responseText);
					for(var prop in error){
						self.errorMessage.push({
							prop: prop,
							errors: error[prop].join(', and ')
						});
					}
				}
			});
		};
		
		self.viewBlogs = function(){
			$.ajax('posts.json', {
				type: 'get', contentType: 'application/json',
				success: function(result){
					for(var i = 0, max = result.length; i < max; i ++ ){
						console.log(result[i].updated_at);
						self.blogEntries.push({
							title: result[i].title,
							content: result[i].content,
							updated_at: result[i].updated_at,
							id: result[i].id
						});
					}
					self.blogEntries.reverse();
				},
				error: function(returnedObject,t2,t3){
					console.log(returnedObject);
					console.log(t2);
					console.log(t3);
					var error = JSON.parse(returnedObject.responseText);
					for(var prop in error){
						self.errorMessage.push({
							prop: prop,
							errors: error[prop].join(', and ')
						});
					}
				}
			});
		};

		//load new data
		self.viewBlogs();
	}
};

ko.applyBindings(BlogNamespace.Blog());

	
	
</script>
<% end %>


